.main-collection-sort .short-by label {
  color: #000000;
  font-weight: 700;
}
.main-collection-sort .short-by #sort-by {
  width: 200px;
  height: 44px;
  color: #000000;
  border: 1px solid #a9a9a9;
  border-radius: 0px;
}