body {
  font-size: 16px;
}

.header-wrapper {
  border-width: 1px;
  border-color: #f0f0f0;
  border-style: solid;
}

main h1 {
  font-size: 32px;
  font-weight: 700;
  letter-spacing: unset;
}
main h2 {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: unset;
}
main h3 {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: unset;
}
main h4 {
  font-size: 22px;
  letter-spacing: unset;
}
main h5 {
  font-size: 20px;
  letter-spacing: unset;
}
main h6 {
  font-size: 18px;
  letter-spacing: unset;
}
main a {
  text-decoration: none;
  color: #000000;
}
main .button {
  font-size: 1rem;
}
main .btn {
  width: 220px;
  max-width: 100%;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 0px;
  border-radius: 0px;
  border: 0px;
}
main .btn-primary {
  color: #FFFFFF;
  background: #67796d;
  border-width: 1px;
  border-style: solid;
  border-color: #67796d;
}
main .btn-primary .loading__spinner {
  margin-left: 10px;
}
main .btn-primary .loading__spinner .path {
  stroke: #FFFFFF;
}
main .btn-primary:hover {
  color: #67796d;
  background-color: #FFFFFF;
  border-color: #67796d;
}
main .btn-primary:hover .loading__spinner .path {
  stroke: #67796d;
}
main .btn-secondary {
  color: #FFFFFF;
  background: #67796d;
  border-width: 1px;
  border-style: solid;
  border-color: #67796d;
}
main .btn-secondary:hover {
  color: #67796d;
  background-color: #FFFFFF;
  border-color: #67796d;
}
main .product-form__input--pill input[type=radio] + label {
  color: #a9a9a9;
  border-color: #a9a9a9;
}
main .product-form__input--pill input[type=radio]:checked + label {
  border-color: rgb(var(--color-foreground));
}
main .product-form__quantity .form__label {
  font-size: 1rem;
}
main .quantity {
  width: 120px;
  min-height: unset;
  height: 44px;
}
main .quantity__text {
  font-weight: 700;
}
main .quantity__button {
  width: 24px;
  font-size: 1rem;
}
main .quantity__input {
  font-size: 1rem;
}
main .product-form__buttons button {
  min-height: unset;
  height: 48px;
  font-weight: 700;
}
main .product-form__buttons button::before, main .product-form__buttons button::after {
  content: unset;
}

.disable {
  pointer-events: none;
  opacity: 0.5;
}

*:focus-visible {
  outline: none;
  outline-offset: unset;
  box-shadow: none;
}